























































































































.tabla {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-collapse: collapse;
    width: 1300px;
}

.tabla,
.tabla th,
.tabla td {
    border: 1px solid black;
}

.tabla td {
    text-align: center;
}
